<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9BOu9HbEn353_l4s7sFA0zCC9sh32e2U</string>
	<key>GCM_SENDER_ID</key>
	<string>238705945416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-682cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-682cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238705945416:ios:0e9c4a19000c0baa4a617d</string>
</dict>
</plist>